@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OC Report</h1>
    <p class="lead">OC Report jest aplikacją webową wspomagającą codzienną pracę z OC. Aplikacja umożliwia kontrolę nad dokumentami związanymi z ubezpieczeniami pojazdów. W przyszłości aplikacja będzie przypominała o kończącym się OC przypomnieniem.</p>
    <p><a href="https://rankomat.pl/files/2018-04/tanie-oc-kalkulator-1.png?aea3482aac" class="btn btn-primary btn-lg">Demo &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Jak zacząć?</h2>
        <p>
            Aby w pełni korzystać z funkcjonalności OC Report należy utworzyć konto w naszym serwisie, a następnie się zalogować. Wszystko trwa tylko 5 minut! :)
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Dołącz do nas! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>